//Similar to CoreOF.xcconfig, you need to define OFX_LWS_PATH 
//like this:
//OFX_LWS_PATH = "$(OF_PATH)/addons"

LIB_SSL = "$(OFX_LWS_PATH)/libs/openssl/lib/osx/libssl.a"
LIB_CRYPTO = "$(OFX_LWS_PATH)/libs/openssl/lib/osx/libcrypto.a"
LIB_LIBWEBSOCKETS = "$(OFX_LWS_PATH)/libs/libwebsockets/lib/osx/libwebsockets.a"
SSL_INC = "$(OFX_LWS_PATH)/libs/openssl/"
LWS_INC = "$(OFX_LWS_PATH)/libs/libwebsockets/include"
OFX_LWS_INC = "$(OFX_LWS_PATH)/libs/ofxLibwebsockets/include" "$(OFX_LWS_PATH)/libs/ofxLibwebsockets/src"

OFX_LWS_LIBS = $(LIB_CRYPTO) $(LIB_SSL) $(LIB_LIBWEBSOCKETS)
OFX_LWS_INCLUDES= $(SSL_INC) $(LWS_INC) $(OFX_LWS_INC)
OFX_LWS_SEARCH = "$(OFX_LWS_PATH)/libs/libwebsockets/lib/osx" "$(OFX_LWS_PATH)/libs/libwebsockets/lib/osx"

// replace or add to your existing Project.xcconfig:
//OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OFX_LWS_LIBS)
//HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(OFX_LWS_INCLUDES)
//LIBRARY_SEARCH_PATHS = $(inherited) $(OFX_LWS_SEARCH)