//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

// INCLUDE OFX_LIBWEBSOCKETS
// 1: DEFINE WHERE IT LIVES; only change this if you have installed elsewhere or changed the name!
OFX_LWS_PATH = "$(OF_PATH)/addons/ofxLibwebsockets"

// 2: INCLUDE OFX_LIBWEBSOCKETS XCCONFIG (make sure you change the path if you've installed elsewhere!)
#include "../../../addons/ofxLibwebsockets/ofxLibwebsockets.xcconfig"

// 3: ADD TO OR REPLACE EXISTING VARS

OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OFX_LWS_LIBS)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(OFX_LWS_INCLUDES)
LIBRARY_SEARCH_PATHS = $(inherited) $(OFX_LWS_SEARCH)